/.DS_Store
/Data
/Code/.ipynb_checkpoints
/Code/.DS_Store
/FalseBackend.zip
/Mediadatabases
/StateMedia
/tokens.txt
/Followers/.DS_Store
/Followers/Media/.DS_Store
/Followers/*
/.vscode/*
/.vscode/settings.json
/MultiProcessingLog.txt
/Results/.DS_Store
/Code/MultiProcessingLog.txt


